extends layout

block content
  
  section.container
    div#cube
      div.front 1
      div.back 2
      div.right 3
      div.left 4
      div.top 5
      div.bottom 6

  section.debug
    span.x X
    span.y Y
    span.z Z
