doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    block content
    script(src='/components/requirejs/require.js' data-main='/javascripts/main.js')
